<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="h0wXD.Email.Service.TestApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <h0wXD.Email.Service.TestApp.Settings>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpLogin" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SmtpDropFolder" serializeAs="String">
                <value>D:\DropFolder</value>
            </setting>
        </h0wXD.Email.Service.TestApp.Settings>
    </userSettings>
</configuration>